{"format":"sql","data":"-- Database Export\n-- Generated on: 2026-04-13T00:06:35.851Z\n-- Format: SQL\n-- Include Data: true\n-- Row Limit: 1000 rows per table\n\n-- Table: admin_notes\nCREATE TABLE IF NOT EXISTS admin_notes (id uuid NOT NULL DEFAULT gen_random_uuid(), note text NOT NULL, project_id uuid NOT NULL, admin_id uuid NOT NULL, created_at timestamptz NOT NULL DEFAULT now());\n\n-- Indexes for table: admin_notes\nCREATE INDEX idx_admin_notes_admin_id ON public.admin_notes USING btree (admin_id);\nCREATE INDEX idx_admin_notes_project_id ON public.admin_notes USING btree (project_id);\n\n-- Foreign key constraints for table: admin_notes\nALTER TABLE admin_notes ADD CONSTRAINT admin_notes_project_id_fkey FOREIGN KEY (project_id) REFERENCES projects (id) ON DELETE CASCADE;\n\n-- RLS enabled for table: admin_notes\nALTER TABLE admin_notes ENABLE ROW LEVEL SECURITY;\n\n-- RLS policies for table: admin_notes\nCREATE POLICY admin_notes_admin_insert ON admin_notes FOR INSERT TO public WITH CHECK (makers_is_admin());\nCREATE POLICY admin_notes_admin_read ON admin_notes FOR SELECT TO public USING (makers_is_admin());\nCREATE POLICY admin_notes_owner_read ON admin_notes FOR SELECT TO public USING ((EXISTS ( SELECT 1\n   FROM projects p\n  WHERE ((p.id = admin_notes.project_id) AND (p.user_id = ( SELECT auth.uid() AS uid))))));\n\n-- Table: audit_logs\nCREATE TABLE IF NOT EXISTS audit_logs (id uuid NOT NULL DEFAULT gen_random_uuid(), user_id uuid, action text NOT NULL, table_name text NOT NULL, record_id uuid, old_values jsonb, new_values jsonb, ip_address text, user_agent text, status text NOT NULL DEFAULT 'success'::text, error_message text, created_at timestamptz NOT NULL DEFAULT now(), metadata jsonb);\n\n-- Indexes for table: audit_logs\nCREATE INDEX idx_audit_logs_user_id ON public.audit_logs USING btree (user_id);\n\n-- RLS enabled for table: audit_logs\nALTER TABLE audit_logs ENABLE ROW LEVEL SECURITY;\n\n-- RLS policies for table: audit_logs\nCREATE POLICY audit_logs_admin_read ON audit_logs FOR SELECT TO public USING (makers_is_admin());\nCREATE POLICY audit_logs_system_insert ON audit_logs FOR INSERT TO public WITH CHECK (true);\n\n-- Table: email_verifications\nCREATE TABLE IF NOT EXISTS email_verifications (id uuid NOT NULL DEFAULT gen_random_uuid(), user_id uuid NOT NULL, otp_hash text NOT NULL, verified boolean NOT NULL DEFAULT false, expires_at timestamptz NOT NULL, attempts integer NOT NULL DEFAULT 0, ip_address text, created_at timestamptz NOT NULL DEFAULT now());\n\n-- Indexes for table: email_verifications\nCREATE INDEX idx_email_verifications_expires ON public.email_verifications USING btree (expires_at);\nCREATE INDEX idx_email_verifications_user_id ON public.email_verifications USING btree (user_id);\n\n-- RLS enabled for table: email_verifications\nALTER TABLE email_verifications ENABLE ROW LEVEL SECURITY;\n\n-- RLS policies for table: email_verifications\nCREATE POLICY email_verifications_anonymous_insert ON email_verifications FOR INSERT TO public WITH CHECK (true);\nCREATE POLICY email_verifications_user_read ON email_verifications FOR SELECT TO public USING (((user_id = ( SELECT auth.uid() AS uid)) OR makers_is_admin()));\n\n-- Table: login_attempts\nCREATE TABLE IF NOT EXISTS login_attempts (id uuid NOT NULL DEFAULT gen_random_uuid(), email text NOT NULL, user_id uuid, success boolean NOT NULL DEFAULT false, failed_reason text, ip_address text NOT NULL, user_agent text, device_fingerprint text, created_at timestamptz NOT NULL DEFAULT now());\n\n-- Indexes for table: login_attempts\nCREATE INDEX idx_login_attempts_user_id ON public.login_attempts USING btree (user_id);\n\n-- RLS enabled for table: login_attempts\nALTER TABLE login_attempts ENABLE ROW LEVEL SECURITY;\n\n-- RLS policies for table: login_attempts\nCREATE POLICY login_attempts_admin_read ON login_attempts FOR SELECT TO public USING (makers_is_admin());\nCREATE POLICY login_attempts_insert ON login_attempts FOR INSERT TO public WITH CHECK (true);\n\n-- Data for table: login_attempts\nINSERT INTO login_attempts (id, email, user_id, success, failed_reason, ip_address, user_agent, device_fingerprint, created_at) VALUES ('5f6420c5-f91e-4d41-b4f1-04c410878312', 'brighteduful22@gmail.com', NULL, false, 'Invalid credentials', 'browser', 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/146.0.0.0 Safari/537.36', NULL, '2026-04-11T17:38:15.191Z');\n\n-- Table: messages\nCREATE TABLE IF NOT EXISTS messages (id uuid NOT NULL DEFAULT gen_random_uuid(), name text NOT NULL, email text NOT NULL, subject text, message text NOT NULL, is_read boolean NOT NULL DEFAULT false, created_at timestamptz NOT NULL DEFAULT now());\n\n-- Indexes for table: messages\nCREATE INDEX messages_created_at_idx ON public.messages USING btree (created_at DESC);\nCREATE INDEX messages_is_read_idx ON public.messages USING btree (is_read);\n\n-- RLS enabled for table: messages\nALTER TABLE messages ENABLE ROW LEVEL SECURITY;\n\n-- RLS policies for table: messages\nCREATE POLICY messages_delete_policy ON messages FOR DELETE TO public USING (makers_is_admin());\nCREATE POLICY messages_insert_policy ON messages FOR INSERT TO public WITH CHECK (true);\nCREATE POLICY messages_select_policy ON messages FOR SELECT TO public USING (makers_is_admin());\nCREATE POLICY messages_update_policy ON messages FOR UPDATE TO public USING (makers_is_admin()) WITH CHECK (makers_is_admin());\nCREATE POLICY project_admin_policy ON messages FOR ALL TO project_admin USING (true) WITH CHECK (true);\n\n-- Table: oauth_accounts\nCREATE TABLE IF NOT EXISTS oauth_accounts (id uuid NOT NULL DEFAULT gen_random_uuid(), user_id uuid NOT NULL, provider text NOT NULL DEFAULT 'google'::text, provider_id text NOT NULL, provider_email text, email_verified boolean DEFAULT true, access_token text, refresh_token text, token_expires_at timestamptz, last_signin timestamptz DEFAULT now(), created_at timestamptz DEFAULT now(), updated_at timestamptz DEFAULT now());\n\n-- Indexes for table: oauth_accounts\nCREATE INDEX idx_oauth_accounts_user_id ON public.oauth_accounts USING btree (user_id);\nCREATE UNIQUE INDEX oauth_accounts_provider_provider_id_key ON public.oauth_accounts USING btree (provider, provider_id);\nCREATE UNIQUE INDEX oauth_accounts_user_id_provider_key ON public.oauth_accounts USING btree (user_id, provider);\n\n-- RLS enabled for table: oauth_accounts\nALTER TABLE oauth_accounts ENABLE ROW LEVEL SECURITY;\n\n-- RLS policies for table: oauth_accounts\nCREATE POLICY oauth_accounts_admin_delete ON oauth_accounts FOR DELETE TO public USING (makers_is_admin());\nCREATE POLICY oauth_accounts_user_insert ON oauth_accounts FOR INSERT TO public WITH CHECK ((user_id = ( SELECT auth.uid() AS uid)));\nCREATE POLICY oauth_accounts_user_read ON oauth_accounts FOR SELECT TO public USING (((user_id = ( SELECT auth.uid() AS uid)) OR makers_is_admin()));\nCREATE POLICY oauth_accounts_user_update ON oauth_accounts FOR UPDATE TO public USING (((user_id = ( SELECT auth.uid() AS uid)) OR makers_is_admin())) WITH CHECK (((user_id = ( SELECT auth.uid() AS uid)) OR makers_is_admin()));\n\n-- Table: password_resets\nCREATE TABLE IF NOT EXISTS password_resets (id uuid NOT NULL DEFAULT gen_random_uuid(), user_id uuid NOT NULL, email text NOT NULL, token_hash text NOT NULL, used boolean NOT NULL DEFAULT false, expires_at timestamptz NOT NULL, completed_at timestamptz, ip_address text, user_agent text, created_at timestamptz NOT NULL DEFAULT now());\n\n-- Indexes for table: password_resets\nCREATE INDEX idx_password_resets_expires ON public.password_resets USING btree (expires_at) WHERE (used = false);\nCREATE INDEX idx_password_resets_user_id ON public.password_resets USING btree (user_id, created_at DESC);\nCREATE UNIQUE INDEX password_resets_token_hash_key ON public.password_resets USING btree (token_hash);\n\n-- RLS enabled for table: password_resets\nALTER TABLE password_resets ENABLE ROW LEVEL SECURITY;\n\n-- RLS policies for table: password_resets\nCREATE POLICY password_resets_anonymous_insert ON password_resets FOR INSERT TO public WITH CHECK (true);\nCREATE POLICY password_resets_user_read ON password_resets FOR SELECT TO public USING (((user_id = ( SELECT auth.uid() AS uid)) OR makers_is_admin()));\n\n-- Table: profiles\nCREATE TABLE IF NOT EXISTS profiles (id uuid NOT NULL, display_name text NOT NULL, role text NOT NULL DEFAULT 'USER'::text, avatar_url text, created_at timestamptz NOT NULL DEFAULT now(), email text);\n\n-- Indexes for table: profiles\nCREATE INDEX idx_profiles_display_name_lower ON public.profiles USING btree (lower(display_name));\nCREATE INDEX profiles_created_at_idx ON public.profiles USING btree (created_at DESC);\n\n-- RLS enabled for table: profiles\nALTER TABLE profiles ENABLE ROW LEVEL SECURITY;\n\n-- RLS policies for table: profiles\nCREATE POLICY profiles_admin_read ON profiles FOR SELECT TO public USING (makers_is_admin());\nCREATE POLICY profiles_admin_update ON profiles FOR UPDATE TO public USING (makers_is_admin()) WITH CHECK (makers_is_admin());\nCREATE POLICY profiles_public_featured_read ON profiles FOR SELECT TO public USING ((EXISTS ( SELECT 1\n   FROM projects p\n  WHERE ((p.user_id = profiles.id) AND ((p.featured = true) OR (p.status = ANY (ARRAY['APPROVED'::text, 'IN_PROGRESS'::text, 'COMPLETED'::text])))))));\nCREATE POLICY profiles_user_insert ON profiles FOR INSERT TO public WITH CHECK ((id = ( SELECT auth.uid() AS uid)));\nCREATE POLICY profiles_user_read ON profiles FOR SELECT TO public USING ((id = ( SELECT auth.uid() AS uid)));\nCREATE POLICY profiles_user_update ON profiles FOR UPDATE TO public USING ((id = ( SELECT auth.uid() AS uid))) WITH CHECK ((id = ( SELECT auth.uid() AS uid)));\n\n-- Data for table: profiles\nINSERT INTO profiles (id, display_name, role, avatar_url, created_at, email) VALUES ('a12cd878-bd31-4806-944d-a36629a2b25e', 'Brighteduful22', 'USER', NULL, '2026-04-06T11:34:11.395Z', 'brighteduful22@gmail.com');\nINSERT INTO profiles (id, display_name, role, avatar_url, created_at, email) VALUES ('0b677096-49f6-4059-ac03-b4e42ff8b05a', 'Nhanakwameotto', 'ADMIN', 'https://5ab7xs59.us-east.insforge.app/api/storage/buckets/makers-lab/objects/avatars%2F1775942369055-1000325064.jpg', '2026-04-11T21:15:06.428Z', 'nhanakwameotto@gmail.com');\nINSERT INTO profiles (id, display_name, role, avatar_url, created_at, email) VALUES ('824987de-c9b5-40fe-b603-0ff95aaf4b10', 'Abenaantwiwaa2004', 'USER', NULL, '2026-04-12T13:10:57.276Z', 'abenaantwiwaa2004@gmail.com');\nINSERT INTO profiles (id, display_name, role, avatar_url, created_at, email) VALUES ('6ca36976-0873-42a1-912e-dbd7b80c4442', 'bright@gmail.com', 'USER', 'https://5ab7xs59.us-east.insforge.app/api/storage/buckets/makers-lab/objects/avatars%2F1775472850873-img_3.jpg', '2026-04-04T15:27:00.247Z', 'bright@gmail.com');\n\n-- Table: project_files\nCREATE TABLE IF NOT EXISTS project_files (id uuid NOT NULL DEFAULT gen_random_uuid(), filename text NOT NULL, original_name text NOT NULL, mime_type text NOT NULL, storage_key text NOT NULL, storage_url text, bucket text NOT NULL DEFAULT 'makers-lab'::text, project_id uuid NOT NULL, created_at timestamptz NOT NULL DEFAULT now(), is_cover boolean NOT NULL DEFAULT false);\n\n-- Indexes for table: project_files\nCREATE INDEX idx_project_files_project_cover ON public.project_files USING btree (project_id, is_cover);\nCREATE INDEX idx_project_files_project_id ON public.project_files USING btree (project_id);\nCREATE INDEX project_files_project_cover_created_at_idx ON public.project_files USING btree (project_id, is_cover, created_at DESC);\n\n-- Foreign key constraints for table: project_files\nALTER TABLE project_files ADD CONSTRAINT project_files_project_id_fkey FOREIGN KEY (project_id) REFERENCES projects (id) ON DELETE CASCADE;\n\n-- RLS enabled for table: project_files\nALTER TABLE project_files ENABLE ROW LEVEL SECURITY;\n\n-- RLS policies for table: project_files\nCREATE POLICY project_files_admin_delete ON project_files FOR DELETE TO public USING (makers_is_admin());\nCREATE POLICY project_files_admin_read ON project_files FOR SELECT TO public USING (makers_is_admin());\nCREATE POLICY project_files_owner_delete_pending ON project_files FOR DELETE TO public USING ((EXISTS ( SELECT 1\n   FROM projects p\n  WHERE ((p.id = project_files.project_id) AND (p.user_id = ( SELECT auth.uid() AS uid)) AND (p.status = 'PENDING'::text)))));\nCREATE POLICY project_files_owner_insert ON project_files FOR INSERT TO public WITH CHECK ((EXISTS ( SELECT 1\n   FROM projects p\n  WHERE ((p.id = project_files.project_id) AND (p.user_id = ( SELECT auth.uid() AS uid))))));\nCREATE POLICY project_files_owner_read ON project_files FOR SELECT TO public USING ((EXISTS ( SELECT 1\n   FROM projects p\n  WHERE ((p.id = project_files.project_id) AND (p.user_id = ( SELECT auth.uid() AS uid))))));\nCREATE POLICY project_files_owner_update_pending ON project_files FOR UPDATE TO public USING ((EXISTS ( SELECT 1\n   FROM projects p\n  WHERE ((p.id = project_files.project_id) AND (p.user_id = ( SELECT auth.uid() AS uid)) AND (p.status = 'PENDING'::text))))) WITH CHECK ((EXISTS ( SELECT 1\n   FROM projects p\n  WHERE ((p.id = project_files.project_id) AND (p.user_id = ( SELECT auth.uid() AS uid)) AND (p.status = 'PENDING'::text)))));\nCREATE POLICY project_files_public_read ON project_files FOR SELECT TO public USING ((EXISTS ( SELECT 1\n   FROM projects p\n  WHERE ((p.id = project_files.project_id) AND ((p.featured = true) OR (p.status = ANY (ARRAY['APPROVED'::text, 'IN_PROGRESS'::text, 'COMPLETED'::text])))))));\n\n-- Table: projects\nCREATE TABLE IF NOT EXISTS projects (id uuid NOT NULL DEFAULT gen_random_uuid(), user_id uuid NOT NULL, title text NOT NULL, description text NOT NULL, category text NOT NULL, tags text, budget text, timeline text, status text NOT NULL DEFAULT 'PENDING'::text, repo_url text, featured boolean NOT NULL DEFAULT false, created_at timestamptz NOT NULL DEFAULT now(), updated_at timestamptz NOT NULL DEFAULT now(), audience_categories ARRAY NOT NULL DEFAULT '{}'::text[], service_categories ARRAY NOT NULL DEFAULT '{}'::text[], package_tier text);\n\n-- Indexes for table: projects\nCREATE INDEX idx_projects_audience_categories_gin ON public.projects USING gin (audience_categories);\nCREATE INDEX idx_projects_featured_true ON public.projects USING btree (featured) WHERE (featured = true);\nCREATE INDEX idx_projects_package_tier ON public.projects USING btree (package_tier) WHERE (package_tier IS NOT NULL);\nCREATE INDEX idx_projects_service_categories_gin ON public.projects USING gin (service_categories);\nCREATE INDEX idx_projects_status ON public.projects USING btree (status);\nCREATE INDEX idx_projects_user_id ON public.projects USING btree (user_id);\nCREATE INDEX idx_projects_user_status ON public.projects USING btree (user_id, status);\nCREATE INDEX projects_featured_created_at_idx ON public.projects USING btree (created_at DESC) WHERE (featured = true);\nCREATE INDEX projects_user_id_created_at_idx ON public.projects USING btree (user_id, created_at DESC);\n\n-- RLS enabled for table: projects\nALTER TABLE projects ENABLE ROW LEVEL SECURITY;\n\n-- RLS policies for table: projects\nCREATE POLICY projects_admin_delete ON projects FOR DELETE TO public USING (makers_is_admin());\nCREATE POLICY projects_admin_read ON projects FOR SELECT TO public USING (makers_is_admin());\nCREATE POLICY projects_admin_update ON projects FOR UPDATE TO public USING (makers_is_admin()) WITH CHECK (makers_is_admin());\nCREATE POLICY projects_owner_delete_pending ON projects FOR DELETE TO public USING (((user_id = ( SELECT auth.uid() AS uid)) AND (status = 'PENDING'::text)));\nCREATE POLICY projects_owner_insert ON projects FOR INSERT TO public WITH CHECK ((user_id = ( SELECT auth.uid() AS uid)));\nCREATE POLICY projects_owner_read ON projects FOR SELECT TO public USING ((user_id = ( SELECT auth.uid() AS uid)));\nCREATE POLICY projects_owner_update_pending ON projects FOR UPDATE TO public USING (((user_id = ( SELECT auth.uid() AS uid)) AND (status = 'PENDING'::text))) WITH CHECK (((user_id = ( SELECT auth.uid() AS uid)) AND (status = 'PENDING'::text)));\nCREATE POLICY projects_public_read ON projects FOR SELECT TO public USING (((featured = true) OR (status = ANY (ARRAY['APPROVED'::text, 'IN_PROGRESS'::text, 'COMPLETED'::text]))));\n\n-- Triggers for table: projects\nCREATE TRIGGER projects_updated_at BEFORE UPDATE ON projects FOR EACH ROW EXECUTE FUNCTION system.update_updated_at();\n\n-- Data for table: projects\nINSERT INTO projects (id, user_id, title, description, category, tags, budget, timeline, status, repo_url, featured, created_at, updated_at, audience_categories, service_categories, package_tier) VALUES ('800e1b49-320a-43f4-895c-14f31749ab6f', '0b677096-49f6-4059-ac03-b4e42ff8b05a', 'Phone shop ', 'I want you to build me a phone app ', 'E-commerce', '[]', 'GHÔéÁ 300 - GHÔéÁ 1,000', 'Less than 1 month', 'PENDING', NULL, false, '2026-04-11T21:16:49.185Z', '2026-04-11T21:16:49.185Z', '[]', '[]', NULL);\nINSERT INTO projects (id, user_id, title, description, category, tags, budget, timeline, status, repo_url, featured, created_at, updated_at, audience_categories, service_categories, package_tier) VALUES ('7e79022c-858b-480a-bcac-7684a50d02de', 'a12cd878-bd31-4806-944d-a36629a2b25e', 'E2E Submission Test - April 12', 'Live end-to-end submission email delivery verification run.', 'Web Application', NULL, 'Under 5000 USD', '1-3 months', 'PENDING', NULL, false, '2026-04-12T09:32:43.475Z', '2026-04-12T09:32:43.475Z', '[]', '[]', NULL);\nINSERT INTO projects (id, user_id, title, description, category, tags, budget, timeline, status, repo_url, featured, created_at, updated_at, audience_categories, service_categories, package_tier) VALUES ('38480ef7-09f9-49e9-819e-6c28ef553813', 'a12cd878-bd31-4806-944d-a36629a2b25e', 'Direct Routing Verification', 'Automated direct inbox routing verification', 'Web Application', '[]', 'Under 5000 USD', '1-3 months', 'PENDING', NULL, false, '2026-04-12T09:41:06.669Z', '2026-04-12T09:41:06.669Z', '[]', '[]', NULL);\nINSERT INTO projects (id, user_id, title, description, category, tags, budget, timeline, status, repo_url, featured, created_at, updated_at, audience_categories, service_categories, package_tier) VALUES ('a712f159-2227-44bd-abdd-3983808dea71', '824987de-c9b5-40fe-b603-0ff95aaf4b10', 'E-commerce ', 'Simple and user friendly ', 'E-commerce', '[]', 'GHÔéÁ 300 - GHÔéÁ 1,000', 'Less than 1 month', 'IN_REVIEW', NULL, false, '2026-04-12T13:21:49.660Z', '2026-04-12T13:24:30.689Z', '[]', '[]', NULL);\nINSERT INTO projects (id, user_id, title, description, category, tags, budget, timeline, status, repo_url, featured, created_at, updated_at, audience_categories, service_categories, package_tier) VALUES ('a25729e3-4b76-43ba-bc3b-bb0ad17e44fb', '0b677096-49f6-4059-ac03-b4e42ff8b05a', 'LIVE VERIFY AUDIENCE-SERVICE 20260412-214915', 'Live verification submission for new audience/service taxonomy.', 'Web Application', '[]', 'Under 5000 USD', '1-3 months', 'APPROVED', NULL, true, '2026-04-12T21:49:18.760Z', '2026-04-12T21:52:12.102Z', '[\"Students\",\"Startups\"]', '[\"Frontend Development\",\"Portfolio Services\"]', NULL);\n\n-- Table: submission_notifications\nCREATE TABLE IF NOT EXISTS submission_notifications (id uuid NOT NULL DEFAULT gen_random_uuid(), project_id uuid NOT NULL, user_id uuid NOT NULL, official_email text NOT NULL, delivery_status text NOT NULL DEFAULT 'QUEUED'::text, delivery_error text, dispatched_at timestamptz, acknowledged boolean NOT NULL DEFAULT false, acknowledged_at timestamptz, acknowledged_by uuid, payload jsonb, created_at timestamptz NOT NULL DEFAULT now(), updated_at timestamptz NOT NULL DEFAULT now());\n\n-- Indexes for table: submission_notifications\nCREATE INDEX idx_submission_notifications_acknowledged ON public.submission_notifications USING btree (acknowledged);\nCREATE INDEX idx_submission_notifications_created_at ON public.submission_notifications USING btree (created_at DESC);\nCREATE INDEX idx_submission_notifications_delivery_status ON public.submission_notifications USING btree (delivery_status);\nCREATE UNIQUE INDEX submission_notifications_project_id_key ON public.submission_notifications USING btree (project_id);\n\n-- Foreign key constraints for table: submission_notifications\nALTER TABLE submission_notifications ADD CONSTRAINT submission_notifications_project_id_fkey FOREIGN KEY (project_id) REFERENCES projects (id) ON DELETE CASCADE;\n\n-- RLS enabled for table: submission_notifications\nALTER TABLE submission_notifications ENABLE ROW LEVEL SECURITY;\n\n-- RLS policies for table: submission_notifications\nCREATE POLICY project_admin_policy ON submission_notifications FOR ALL TO project_admin USING (true) WITH CHECK (true);\nCREATE POLICY submission_notifications_admin_read ON submission_notifications FOR SELECT TO public USING (makers_is_admin());\nCREATE POLICY submission_notifications_admin_update ON submission_notifications FOR UPDATE TO public USING (makers_is_admin()) WITH CHECK (makers_is_admin());\nCREATE POLICY submission_notifications_user_insert ON submission_notifications FOR INSERT TO public WITH CHECK ((user_id = ( SELECT auth.uid() AS uid)));\nCREATE POLICY submission_notifications_user_read ON submission_notifications FOR SELECT TO public USING ((user_id = ( SELECT auth.uid() AS uid)));\n\n-- Data for table: submission_notifications\nINSERT INTO submission_notifications (id, project_id, user_id, official_email, delivery_status, delivery_error, dispatched_at, acknowledged, acknowledged_at, acknowledged_by, payload, created_at, updated_at) VALUES ('c20ba9b8-d3a7-4be5-9c7a-006d6d412c26', '7e79022c-858b-480a-bcac-7684a50d02de', 'a12cd878-bd31-4806-944d-a36629a2b25e', 'nhanakwameotto@gmail.com', 'SENT', NULL, '2026-04-12T09:35:36.907Z', false, NULL, NULL, '{\"tags\":[\"e2e\",\"notification\"],\"title\":\"E2E Submission Test - April 12\",\"budget\":\"Under 5000 USD\",\"category\":\"Web Application\",\"timeline\":\"1-3 months\",\"filesCount\":0,\"description\":\"Live end-to-end submission email delivery verification run.\",\"submitterName\":\"Otto\",\"submitterEmail\":\"nhanakwameotto@gmail.com\"}', '2026-04-12T09:32:46.937Z', '2026-04-12T09:35:36.907Z');\nINSERT INTO submission_notifications (id, project_id, user_id, official_email, delivery_status, delivery_error, dispatched_at, acknowledged, acknowledged_at, acknowledged_by, payload, created_at, updated_at) VALUES ('392d9ddf-582c-4294-99c0-cf9225e4ef89', '38480ef7-09f9-49e9-819e-6c28ef553813', 'a12cd878-bd31-4806-944d-a36629a2b25e', 'creators.makerslab@gmail.com', 'FAILED', 'The remote server returned an error: (502) Bad Gateway.', NULL, false, NULL, NULL, '{}', '2026-04-12T09:41:09.757Z', '2026-04-12T09:41:13.550Z');\nINSERT INTO submission_notifications (id, project_id, user_id, official_email, delivery_status, delivery_error, dispatched_at, acknowledged, acknowledged_at, acknowledged_by, payload, created_at, updated_at) VALUES ('c7b5784b-124b-4481-a9cf-70b5aa21dd14', 'a712f159-2227-44bd-abdd-3983808dea71', '824987de-c9b5-40fe-b603-0ff95aaf4b10', 'creators.makerslab@gmail.com', 'QUEUED', NULL, NULL, false, NULL, NULL, '{\"tags\":[],\"title\":\"E-commerce \",\"budget\":\"GHÔéÁ 300 - GHÔéÁ 1,000\",\"repoUrl\":null,\"category\":\"E-commerce\",\"timeline\":\"Less than 1 month\",\"filesCount\":0,\"attachments\":[],\"description\":\"Simple and user friendly \",\"submitterName\":\"Abenaantwiwaa2004\",\"submitterEmail\":\"abenaantwiwaa2004@gmail.com\"}', '2026-04-12T13:21:50.273Z', '2026-04-12T13:21:50.273Z');\nINSERT INTO submission_notifications (id, project_id, user_id, official_email, delivery_status, delivery_error, dispatched_at, acknowledged, acknowledged_at, acknowledged_by, payload, created_at, updated_at) VALUES ('bed73e54-396d-497d-9975-bcfaa2666265', 'a25729e3-4b76-43ba-bc3b-bb0ad17e44fb', '0b677096-49f6-4059-ac03-b4e42ff8b05a', 'nhanakwameotto@gmail.com', 'QUEUED', 'Resend account is in testing mode. Verify a domain and use a sender on that domain to deliver to official inbox.', NULL, false, NULL, NULL, '{\"tags\":[\"verification\"],\"title\":\"LIVE VERIFY AUDIENCE-SERVICE 20260412-214915\",\"budget\":\"Under 5000 USD\",\"category\":\"Web Application\",\"timeline\":\"1-3 months\",\"filesCount\":0,\"description\":\"Live verification submission for new audience/service taxonomy.\",\"submitterName\":\"Nhanakwameotto\",\"submitterEmail\":\"nhanakwameotto@gmail.com\",\"serviceCategories\":[\"Frontend Development\",\"Portfolio Services\"],\"audienceCategories\":[\"Students\",\"Startups\"]}', '2026-04-12T21:49:22.927Z', '2026-04-12T21:51:04.132Z');\n\n-- Table: testimonials\nCREATE TABLE IF NOT EXISTS testimonials (id uuid NOT NULL DEFAULT gen_random_uuid(), rating integer NOT NULL, text text NOT NULL, is_approved boolean NOT NULL DEFAULT false, user_id uuid NOT NULL, project_id uuid NOT NULL, created_at timestamptz NOT NULL DEFAULT now());\n\n-- Indexes for table: testimonials\nCREATE INDEX idx_testimonials_user_id ON public.testimonials USING btree (user_id);\nCREATE INDEX testimonials_approved_created_at_idx ON public.testimonials USING btree (created_at DESC) WHERE (is_approved = true);\nCREATE UNIQUE INDEX testimonials_project_id_key ON public.testimonials USING btree (project_id);\n\n-- Foreign key constraints for table: testimonials\nALTER TABLE testimonials ADD CONSTRAINT testimonials_project_id_fkey FOREIGN KEY (project_id) REFERENCES projects (id) ON DELETE CASCADE;\n\n-- RLS enabled for table: testimonials\nALTER TABLE testimonials ENABLE ROW LEVEL SECURITY;\n\n-- RLS policies for table: testimonials\nCREATE POLICY testimonials_admin_read ON testimonials FOR SELECT TO public USING (makers_is_admin());\nCREATE POLICY testimonials_admin_update ON testimonials FOR UPDATE TO public USING (makers_is_admin()) WITH CHECK (makers_is_admin());\nCREATE POLICY testimonials_owner_delete ON testimonials FOR DELETE TO public USING ((user_id = ( SELECT auth.uid() AS uid)));\nCREATE POLICY testimonials_owner_insert ON testimonials FOR INSERT TO public WITH CHECK ((user_id = ( SELECT auth.uid() AS uid)));\nCREATE POLICY testimonials_owner_read ON testimonials FOR SELECT TO public USING ((user_id = ( SELECT auth.uid() AS uid)));\nCREATE POLICY testimonials_public_read ON testimonials FOR SELECT TO public USING ((is_approved = true));\n\n-- Table: user_settings\nCREATE TABLE IF NOT EXISTS user_settings (id uuid NOT NULL DEFAULT gen_random_uuid(), user_id uuid NOT NULL, theme text, email_notifications boolean, marketing_emails boolean, privacy_level text, bio text, updated_at timestamptz DEFAULT now());\n\n-- Indexes for table: user_settings\nCREATE UNIQUE INDEX user_settings_user_id_key ON public.user_settings USING btree (user_id);\n\n-- RLS enabled for table: user_settings\nALTER TABLE user_settings ENABLE ROW LEVEL SECURITY;\n\n-- RLS policies for table: user_settings\nCREATE POLICY user_settings_admin_read ON user_settings FOR SELECT TO public USING (makers_is_admin());\nCREATE POLICY user_settings_user_insert ON user_settings FOR INSERT TO public WITH CHECK ((user_id = ( SELECT auth.uid() AS uid)));\nCREATE POLICY user_settings_user_read ON user_settings FOR SELECT TO public USING ((user_id = ( SELECT auth.uid() AS uid)));\nCREATE POLICY user_settings_user_update ON user_settings FOR UPDATE TO public USING ((user_id = ( SELECT auth.uid() AS uid))) WITH CHECK ((user_id = ( SELECT auth.uid() AS uid)));\n\n","timestamp":"2026-04-13T00:06:35.851Z"}
